COPTS +=-D_PRE_CHIP_BITS_MIPS64=1
COPTS +=-D_PRE_CHIP_BITS_MIPS32=0
COPTS +=-D_PRE_CHIP_BITS=_PRE_CHIP_BITS_MIPS32

COPTS +=-D_PRE_CONFIG_USE_DTS
COPTS +=-D_PRE_CONFIG_GPIO_TO_SSI_DEBUG
COPTS +=-D_PRE_WLAN_NEW_IQ
COPTS +=-D_PRE_WLAN_FEATURE_6G_EXTEND
COPTS +=-D_PRE_WLAN_FEATURE_LP_PATH

COPTS +=-D_PRE_TEST_MODE_OFF=0
COPTS +=-D_PRE_TEST_MODE_UT=1
COPTS +=-D_PRE_TEST_MODE_ST=2
COPTS +=-D_PRE_TEST_MODE_BOARD_ST=3
COPTS +=-D_PRE_TEST_MODE=_PRE_TEST_MODE_OFF

COPTS +=-D_PRE_BIG_CPU_ENDIAN=0
COPTS +=-D_PRE_LITTLE_CPU_ENDIAN=1
COPTS +=-D_PRE_CPU_ENDIAN=_PRE_LITTLE_CPU_ENDIAN

COPTS +=-D_PRE_MULTI_CORE_MODE_SMP=0
COPTS +=-D_PRE_MULTI_CORE_MODE_PIPELINE_AMP=1
COPTS +=-D_PRE_MULTI_CORE_MODE_OFFLOAD_HMAC=2
COPTS +=-D_PRE_MULTI_CORE_MODE_OFFLOAD_DMAC=3
COPTS +=-D_PRE_MULTI_CORE_MODE=_PRE_MULTI_CORE_MODE_OFFLOAD_DMAC

COPTS +=-D_PRE_WLAN_FEATURE_HID2D
COPTS +=-D_PRE_WLAN_FEATURE_HID2D_PRESENTATION

COPTS +=-D_PRE_WLAN_FEATURE_11D
COPTS +=-D_PRE_WLAN_FEATURE_OPMODE_NOTIFY
COPTS +=-D_PRE_WLAN_FEATURE_11AC2G

#tcp ack optimize
COPTS +=-D_PRE_WLAN_TCP_OPT
COPTS +=-D_PRE_DELAY_DEBUG
#auto_freq adjust
COPTS +=-D_PRE_WLAN_FEATURE_AUTO_FREQ
COPTS +=-D_PRE_WLAN_FEATURE_AMPDU_TX_HW
#AMSDU+AMPDU
COPTS +=-D_PRE_WLAN_FEATURE_MULTI_NETBUF_AMSDU

# set debug options
#DEBFLAGS = -Wall -O2 -g -DSCULL_DEBUG -DEXPORT_SYMTAB

# set Coverage options
ifeq ($(DBG_COVERAGE), y)
DEBFLAGS += --coverage
endif

# set compiler CFLAG
EXTRA_CFLAGS = $(INCS) $(COPTS) $(DEBFLAGS)
