# SPDX-License-Identifier: GPL-2.0-only
#
# Phy drivers for Hisilicon platforms
#

config PHY_HISI_USB2_ULPI
	tristate "Hisilicon USB2 PHY ULPI support"
	depends on (ARCH_HISI && ARM64) || COMPILE_TEST
	select GENERIC_PHY
	select MFD_SYSCON
	help
	  Enable this to support the HISILICON USB2 ULPI PHY.

	  To compile this driver as a module, choose M here.

config PHY_HISI_COMBOPHY
	tristate "Hisilicon ComboPHY support"
	depends on (ARCH_HISI && ARM64 && CHIP_COMBOPHY) || COMPILE_TEST
	select GENERIC_PHY
	select MFD_SYSCON
	help
	  Enable this to support the HISILICON ComboPHY.

	  To compile this driver as a module, choose M here.
