# SPDX-License-Identifier: GPL-2.0

config FLAT_VIBRATOR
	bool "Led classdev vibrator flat driver"
	depends on LEDS_TRIGGERS && LEDS_TRIGGER_TRANSIENT
	default n
	help
	  Say Y to enable support for the flat vibrator driver.

	  To compile this driver as a module, choose M here: the module will be
	  called flat vibrator driver.

config LINEAR_VIBRATOR
	bool "Led classdev pmic_vibrator linear driver"
	depends on LEDS_TRIGGERS && LEDS_TRIGGER_TRANSIENT
	default n
	help
	  Say Y to enable support for the Linear PMIC vibrator driver.

	  To compile this driver as a module, choose M here: the module will be
	  called linear vibrator driver.

config LINEAR_VIBRATOR_DEBUG
	bool "Led classdev pmic_vibrator driver debug"
	depends on LINEAR_VIBRATOR
	default n

config POWERKEY_SPMI
	tristate "PMIC SPMI ONKEY support"
	depends on SPMI_PLATFORM && PMIC_SPMI
	help
	  Say Y to enable support for PMIC ONKEY.

	  To compile this driver as a module, choose M here: the
	  module will be called powerkey.

config POWERKEY_DEBUG
	bool "powerkey driver debug"
	depends on DEBUG_FS
	default n

config SUPPORT_SIM1_HPD_KEY_RESTART
	bool "SIM1_HPD support"
	depends on POWERKEY_SPMI
	default n
	help
	  Say Y to enable support for SIM1_HPD key.

	  To compile this driver as a module, choose M here: the
	  module will be called powerkey.
