comment "MODULE ISP"

choice
	prompt "HISP Version"
	default KERNEL_CAMERA_USE_HISP250
	depends on KERNEL_CAMERA
	help
        Select ISP version.

config KERNEL_CAMERA_USE_HISP250
	bool "HISP250"
	depends on KERNEL_CAMERA

endchoice

