menu "driver Configuration"

source "platform_source/basicplatform/drivers/spmi_platform/Kconfig"
source "platform_source/basicplatform/drivers/bootdevice/Kconfig"
source "platform_source/basicplatform/drivers/mfd/Kconfig"
source "platform_source/basicplatform/drivers/clk/Kconfig"
source "platform_source/basicplatform/drivers/regulator/Kconfig"
source "platform_source/basicplatform/drivers/gpio/Kconfig"
source "platform_source/basicplatform/drivers/pinctrl/Kconfig"
source "platform_source/basicplatform/drivers/hwspinlock/Kconfig"
source "platform_source/basicplatform/drivers/pwm/Kconfig"
source "platform_source/basicplatform/drivers/rtc/Kconfig"
source "platform_source/basicplatform/drivers/i2c/Kconfig"
source "platform_source/basicplatform/drivers/i3c/Kconfig"
source "platform_source/basicplatform/drivers/cmdline/Kconfig"
source "platform_source/basicplatform/drivers/mailbox/Kconfig"
source "platform_source/basicplatform/drivers/mm_lb/Kconfig"
source "platform_source/basicplatform/drivers/modem_decoupl/Kconfig"
source "platform_source/basicplatform/drivers/noc/Kconfig"
source "platform_source/basicplatform/drivers/hisi_dummy_ko/Kconfig"
source "platform_source/basicplatform/drivers/qic/Kconfig"
source "platform_source/basicplatform/drivers/rpmb/Kconfig"
source "platform_source/basicplatform/drivers/usb_phy_chip/Kconfig"
source "platform_source/basicplatform/drivers/phy/Kconfig"
source "platform_source/basicplatform/drivers/usb/Kconfig"
source "platform_source/basicplatform/drivers/memory_dump/Kconfig"
source "platform_source/basicplatform/drivers/watchpoint/Kconfig"
source "platform_source/basicplatform/drivers/mntn/Kconfig"
source "platform_source/basicplatform/drivers/hwtracing/dfx_coresight/Kconfig"
source "platform_source/basicplatform/drivers/watchdog/Kconfig"
source "platform_source/basicplatform/drivers/dieid/Kconfig"
source "platform_source/basicplatform/drivers/timekeeper/Kconfig"
source "platform_source/basicplatform/drivers/hisi_lmk/Kconfig"
source "platform_source/basicplatform/drivers/hck/Kconfig"
source "platform_source/basicplatform/drivers/dma/Kconfig"
source "platform_source/basicplatform/drivers/spi/Kconfig"
source "platform_source/basicplatform/drivers/tty/serial/Kconfig"
source "platform_source/basicplatform/drivers/pci/Kconfig"
source "platform_source/basicplatform/drivers/leds/Kconfig"
source "platform_source/basicplatform/drivers/input/keyboard/Kconfig"
source "platform_source/basicplatform/drivers/input/misc/Kconfig"
source "platform_source/basicplatform/drivers/bootctrl/Kconfig"
source "platform_source/basicplatform/drivers/nve/Kconfig"
source "platform_source/basicplatform/drivers/partition/Kconfig"

endmenu

