config DPU_FB_MEDIACOMMON
	tristate
	depends on FB
	default n
	help
	Enable mediacommon hardware support for chipset

	This will allow for allocating new framebuffer to provide more
	interfaces such as ispif, precompose copybit etc.

config DPU_FB_ALSC
	tristate "alsc support"
	depends on FB
	default n
	help
	Enable ALSC hardware support

config DPU_FB_FAKE
	tristate "Framebuffer Fake support"
	depends on FB
	select FB_CFB_FILLRECT
	select FB_SYS_FOPS
	select FB_CFB_COPYAREA
	select FB_CFB_IMAGEBLIT
	select REGMAP
	help
	  This framebuffer driver supports DPU FB Fake.

config DPU_FB_V410
	tristate "DPU FB V410 Framebuffer support"
	depends on FB
	select FB_CFB_FILLRECT
	select FB_SYS_FOPS
	select FB_CFB_COPYAREA
	select FB_CFB_IMAGEBLIT
	select DPU_FB_MEDIACOMMON
	select REGMAP
	select REGMAP_I2C
	help
	  This framebuffer driver supports DPU V410 FB.

config DPU_FB_V501
	tristate "DPU FB V501 Framebuffer support"
	depends on FB
	select FB_CFB_FILLRECT
	select FB_SYS_FOPS
	select FB_CFB_COPYAREA
	select FB_CFB_IMAGEBLIT
	select DPU_FB_MEDIACOMMON
	select REGMAP
	select REGMAP_I2C
	help
	  This framebuffer driver supports DPU V501 FB.

config DPU_FB_V510
	tristate "DPU FB V510 Framebuffer support"
	depends on FB
	select FB_CFB_FILLRECT
	select FB_SYS_FOPS
	select FB_CFB_COPYAREA
	select FB_CFB_IMAGEBLIT
	select DPU_DPP_CMDLIST
	select REGMAP
	select REGMAP_I2C
	help
	  This framebuffer driver supports DPU V510 FB.

config DPU_FB_V600
	tristate "DPU FB V600 Framebuffer support"
	depends on FB
	depends on DMA_CMA
	select FB_CFB_FILLRECT
	select FB_SYS_FOPS
	select FB_CFB_COPYAREA
	select FB_CFB_IMAGEBLIT
	select DPU_FB_MEDIACOMMON
	select DPU_DPP_CMDLIST
	select REGMAP
	select REGMAP_I2C
	help
	  This framebuffer driver supports DPU V600 FB.

config DPU_FB_V700
	tristate "DPU FB V700 Framebuffer support"
	depends on FB
	depends on DMA_CMA
	select FB_CFB_FILLRECT
	select FB_SYS_FOPS
	select FB_CFB_COPYAREA
	select FB_CFB_IMAGEBLIT
	select DPU_FB_MEDIACOMMON
	select DPU_FB_ALSC
	select REGMAP
	select REGMAP_I2C
	help
	  This framebuffer driver supports DPU V700 FB.

config DPU_FB_V360
	tristate "DPU FB V360 Framebuffer support"
	depends on FB
	depends on DMA_CMA
	select FB_CFB_FILLRECT
	select FB_SYS_FOPS
	select FB_CFB_COPYAREA
	select FB_CFB_IMAGEBLIT
	select REGMAP
	select REGMAP_I2C
	help
	  This framebuffer driver supports DPU V360 FB.

config DPU_FB_V320
	tristate "DPU FB V320 Framebuffer support"
	depends on FB
	select FB_CFB_FILLRECT
	select FB_SYS_FOPS
	select FB_CFB_COPYAREA
	select FB_CFB_IMAGEBLIT
	select REGMAP
	select REGMAP_I2C
	help
	  This framebuffer driver supports DPU V320 FB.

config DPU_FB_AOD
	tristate "DPU aod support"
	depends on FB
	select FB_CFB_FILLRECT
	select FB_SYS_FOPS
	select FB_CFB_COPYAREA
	select FB_CFB_IMAGEBLIT
	select REGMAP
	help
	  This framebuffer driver supports aod.

config DPU_DP_EN
	tristate "DPU dp support"
	depends on FB
	help
	  This framebuffer driver supports dp.

config DPU_FB_AP_AOD
	tristate "DPU ap aod support"
	depends on FB
	select FB_CFB_FILLRECT
	select FB_SYS_FOPS
	select FB_CFB_COPYAREA
	select FB_CFB_IMAGEBLIT
	select REGMAP
	help
	  This framebuffer driver supports dpu ap aod.

config DPU_FB_V330
	tristate "DPU FB V330 Framebuffer support"
	depends on FB
	select FB_CFB_FILLRECT
	select FB_SYS_FOPS
	select FB_CFB_COPYAREA
	select FB_CFB_IMAGEBLIT
	select REGMAP
	select REGMAP_I2C
	help
	  This framebuffer driver supports DPU V330 FB.

config DPU_FB_V350
	tristate "DPU FB V350 Framebuffer support"
	depends on FB
	select FB_CFB_FILLRECT
	select FB_SYS_FOPS
	select FB_CFB_COPYAREA
	select FB_CFB_IMAGEBLIT
	select REGMAP
	select REGMAP_I2C
	help
	  This framebuffer driver supports DPU V350 FB.

config DPU_FB_V345
	tristate "DPU FB V345 Framebuffer support"
	depends on FB
	select FB_CFB_FILLRECT
	select FB_SYS_FOPS
	select FB_CFB_COPYAREA
	select FB_CFB_IMAGEBLIT
	select REGMAP
	select REGMAP_I2C
	help
	  This framebuffer driver supports DPU V345 FB.

config DPU_FB_V346
	tristate "DPU FB V346 Framebuffer support"
	depends on FB
	select FB_CFB_FILLRECT
	select FB_SYS_FOPS
	select FB_CFB_COPYAREA
	select FB_CFB_IMAGEBLIT
	select REGMAP
	select REGMAP_I2C
	help
	  This framebuffer driver supports DPU V346 FB.

config DSS_SMMU_V3
	tristate "DPU FB smmu v3 support"
	depends on MM_SMMU_V3
	help
	  This framebuffer driver supports smmu v3.

config DPU_FB_ENG_DBG
	tristate "DPU FB ENG DEBUG support"
	depends on FB
	help
	  This config only used in eng version.

config FASTBOOT_DISP_ENABLE
	tristate "DPU fastboot display enable support"
	depends on FB
	help
	  Display system have already initialized in fastboot.

config DPU_DISPLAY_DFR
	tristate "DPU FB dynamic frame adaptation support"
	depends on FB
	help
	  This framebuffer driver supports dynamic frame adaptation.

config DPU_DPM
	tristate "DPU DPM(digital power monitor) support"
	depends on FB
	depends on DPM_HWMON
	help
	  This framebuffer driver supports dpm function.

config DPU_DPP_CMDLIST
	tristate "DPU DPP cmdlist support"
	depends on FB
	help
	  This framebuffer driver supports dpp cmdlist function.

config EFFECT_HIACE
	tristate "effect hiace support"
	depends on FB
	help
	  This framebuffer driver supports effect hiace.

config DPU_EFFECT_HIHDR
	tristate "DPU HiHDR support"
	depends on FB
	help
	  This framebuffer driver supports HiHDR related functions.

config EFFECT_TERMINAL_API
	tristate "terminal API support"
	depends on FB
	help
	  This framebuffer driver supports terminal APIs.

config HW_DSS_BOOST
	tristate "boost support"
	depends on DPU_FB_V501 || DPU_FB_V510 || DPU_FB_V350 || DPU_FB_V345 || DPU_FB_V346 || DPU_FB_V600
	default y
	help
	  support boosting.

config DEVICE_ATTRS
	tristate "device attrs support"
	depends on FB
	help
	  This framebuffer driver supports device attrs function.

config VIDEO_IDLE
	tristate "video idle support"
	depends on FB
	help
	  This framebuffer driver supports video idle function.

config ASYNCHRONOUS_PLAY
	tristate "asynchronous play support"
	depends on FB
	help
	  This framebuffer driver supports asynchronous play function.

config RCH_CLD
	tristate "rch cld support"
	depends on FB
	help
	  This framebuffer driver supports rch cld function.

config DP_HDCP
	tristate "dp hdcp support"
	depends on FB
	help
	  This framebuffer driver supports dp hdcp function.

config VR_DISPLAY
	tristate "vr display support"
	depends on FB
	help
	  This framebuffer driver supports vr display function.

config FOLD_DISPLAY
	tristate "fold display support"
	depends on FB
	help
	  This framebuffer driver supports fold display function.

config CDC_MULTI_DISPLAY
	tristate "CDC support multi-screen"
	depends on DPU_FB_V510
	select ASYNCHRONOUS_PLAY
	default n
	help
	  This framebuffer driver supports CDC multi-screen.

config DP_CDC
	tristate "CDC support DP"
	depends on DPU_FB_V510
	default n
	help
	  This framebuffer driver supports CDC DP.

config DPU_ULTR_LOW_CLK_RATE
	tristate "ultra low power"
	depends on DPU_FB_V320
	help
	  ultra low power for watch

config DPU_CDC_ACE
	tristate "ace display"
	depends on FB
	help
	  This framebuffer driver supports CDC ACE.

config X1_CARBU_EDITION_V10_ENABLE_MIPI_FAKE
	bool "X1_CARBU_EDITION_V10 support MIPI_FAKE"
	default n
	help
	  This framebuffer driver supports CDC X1.
